internet/src/java/META-INF/logreg.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logreg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logreg/" name="logreg">
<types>
<xsd:schema>
<xsd:import namespace="http://logreg/" schemaLocation="http://localhost:8080/it211030935_DistSys2_Server/logreg?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="subscribe">
<part name="parameters" element="tns:subscribe"/>
</message>
<message name="subscribeResponse">
<part name="parameters" element="tns:subscribeResponse"/>
</message>
<portType name="logreg">
<operation name="register">
<input wsam:Action="http://logreg/logreg/registerRequest" message="tns:register"/>
<output wsam:Action="http://logreg/logreg/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://logreg/logreg/loginRequest" message="tns:login"/>
<output wsam:Action="http://logreg/logreg/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="subscribe">
<input wsam:Action="http://logreg/logreg/subscribeRequest" message="tns:subscribe"/>
<output wsam:Action="http://logreg/logreg/subscribeResponse" message="tns:subscribeResponse"/>
</operation>
</portType>
<binding name="logregPortBinding" type="tns:logreg">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subscribe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="logreg">
<port name="logregPort" binding="tns:logregPortBinding">
<soap:address location="http://localhost:8080/it211030935_DistSys2_Server/logreg"/>
</port>
</service>
</definitions>